In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('datasets/titanic_dataset.csv')

In [2]:

df=df.drop(columns=['Name','Cabin','Ticket','Embarked'])

In [3]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [6]:
# to handle with missing values i used SimpleImputer
from sklearn.impute import SimpleImputer

# ordinal encoding on Sex
from sklearn.preprocessing import OrdinalEncoder

#onehot encoding on embarked
from sklearn.preprocessing import OneHotEncoder

transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['Age']),
                                            ('tnf2',OrdinalEncoder(categories=[['male','female']]),['Sex'])
                                            ],
                              remainder='passthrough')

In [7]:
# train test split of data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2)
x_test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare
725          726       3    male  20.0      0      0    8.6625
276          277       3  female  45.0      0      0    7.7500
835          836       1  female  39.0      1      1   83.1583
614          615       3    male  35.0      0      0    8.0500
264          265       3  female   NaN      0      0    7.7500
..           ...     ...     ...   ...    ...    ...       ...
326          327       3    male  61.0      0      0    6.2375
631          632       3    male  51.0      0      0    7.0542
681          682       1    male  27.0      0      0   76.7292
726          727       2  female  30.0      3      0   21.0000
258          259       1  female  35.0      0      0  512.3292

[179 rows x 7 columns]

In [8]:
transformed_train =transformer.fit_transform(x_train)

# Transform the testing data
transformed_test = transformer.transform(x_test)

In [9]:
transformed_train[[1,0]]

array([[ 21. ,   0. , 625. ,   3. ,   0. ,   0. ,  16.1],
       [ 16. ,   1. , 505. ,   1. ,   0. ,   0. ,  86.5]])

In [10]:
transformed_test.shape

(179, 7)

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
l=LinearRegression()

In [13]:
y_train

504    1
624    0
471    0
665    0
611    0
      ..
667    0
818    0
408    0
794    0
317    0
Name: Survived, Length: 712, dtype: int64

In [14]:
l.fit(transformed_train,y_train)

LinearRegression()

In [19]:
y_pred=l.predict(transformed_test)

In [20]:
# to calculate the accuracy of model

In [21]:
from sklearn.metrics import r2_score, mean_squared_error

In [23]:
r2 = r2_score(y_test, y_pred)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)

# Calculate root mean squared error
rmse = np.sqrt(mse)

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)

R-squared Score: 0.42113979677500535
Mean Squared Error: 0.13979651860288403
Root Mean Squared Error: 0.3738937263486565

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
l=LogisticRegression()

In [26]:
l.fit(transformed_train,y_train)

/Users/nirbhaysedha/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
y_pred=l.predict(transformed_test)

In [30]:
from sklearn.metrics import accuracy_score

In [34]:
print(accuracy_score(y_test,y_pred)*100)

81.56424581005587